<div fxLayoutAlign="space-around center" fxFlex="100">
    <mat-card fxFlex="25" class="card" fxFlex.xs="100">
  
      <mat-card-title class="fundoo" div fxLayout="row" fxLayoutAlign="center center">
        <span class="f">F</span>
        <span class="u">u</span>
        <span class="n">n</span>
        <span class="d">d</span>
        <span class="o">o</span>
        <span class="oo">o</span>
      </mat-card-title>
  
      <mat-card-title div fxLayout="row" fxLayoutAlign="center center" class="title">Forgot password ?</mat-card-title>
      <mat-card-subtitle class="subtitle" fxLayoutAlign="center center">Enter your email id to reset password
      </mat-card-subtitle>
  
      <form>
        <div fxLayoutAlign="center center" class="email">
          <mat-form-field appearance="outline" fxFlex="100" class="email" fxLayoutAlign="center center">
            <mat-label>Email id</mat-label>
            <input matInput placeholder="Enter your email id" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-icon class="icons" matSuffix>email</mat-icon>
            <mat-error *ngIf="emailFormControl.invalid ">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
  
  
        <div class="for-button">
          <button mat-button (click)="login()" class="link" fxLayoutAlign="center">
            Sign in insted
          </button>
          <button id="buttons" mat-button (click)="forgotpassword()" [disabled]=this.validate() [ngClass]="{'gray' : toggle, 'blue': !toggle}">Submit</button>
        </div>
        <div class="err" role="alert" *ngIf="msg">{{msg}}</div>
      </form>
  
    </mat-card>
  </div>